@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
.width_body{
    width: 1070px;
    margin: 0 auto;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    font-family: "DM Sans", sans-serif;
}

header nav ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:  50px;
}
header nav ul li a{
    color: #696871;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.469px;
}
.header__active-link{
    color: #19191B;
    border-bottom: 2px solid #5454D4;
}
header button{
    border-radius: 10px;
    background: #FF7143;
    width: 211.02px;
    height: 60px;
    flex-shrink: 0;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.531px;
}
.herro{
    display: flex;
    justify-content: space-between;
    width: 409.426px;
    height: 461px;
    flex-shrink: 0;
    }

section h1{
    width: 439.411px;
    height: 231px;
    flex-shrink: 0;
    color: #19191B;
    font-family: "DM Sans", sans-serif;
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
    line-height: 77px; /* 102.667% */
    letter-spacing: -2.501px;
    margin-top: 193.8px;
}
section p{
    width: 409.426px;
    color: #696871;
    font-family: Mulish,sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
    letter-spacing: -0.625px;
    margin-top: 30px;
}
section button{
    width: 188.211px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #5454D4;
    color: #FFF;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.531px;
    margin-top: 30px;
    border: none;
}
section img{
    margin-top: 68px;
    width: 545.51px;
    height: 644px;
    flex-shrink: 0;
}
.briend__logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 350px;
    }